@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');


/* --- FONTS --- */
$font-primary: 'Arimo';
$font-secundary: 'Open Sans';


/* --- COLORS --- */
$black-900: #222;
$black-800: #676;

$blue-900: #4d4dff;

$white-900: #FFF;


/* --- MIXINS --- */
@mixin boxsizing() {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

@mixin font($font: 'Arimo', $size: 12px, $weight: 400, $color: #222) {
  color: $color;
  font-family: $font, sans-serif;
  font-size: $size;
  font-weight: $weight;
}


body {
  @include boxsizing;
  margin: 0;
  width: 100%;
}

/* --- CONTROLS --- */
.btn {
  @include boxsizing();
  @include font($font-secundary, 13px, 300, $black-800);
  
  background-color: $white-900;
  border: 1px solid rgba($black-800, .1);
  border-radius: 25px;
  box-shadow: 0 0 4px 0 rgba($black-900, .1);
  cursor: pointer;
  display: block;
  letter-spacing: 2px;
  margin: 30px auto 0;
  outline: none;
  padding: 15px 25px;
  text-transform: uppercase;
  z-index: 3;
}

input {
  display: none;
}


/* --- MAIN --- */
.container {
  @include boxsizing();
  display: block;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;

  &.info {
    padding: 10px 15px 0;

    h1 {
      @include boxsizing();
      @include font($font-secundary, 21px, 300, $black-900);
      margin: 0;
      letter-spacing: 1px;

      span {
        @include font($font-secundary, 24px, 400, $black-900);
        letter-spacing: -1px;
      }
    }

    p {
      @include boxsizing();
      @include font($font-secundary, 14px, 300, $black-900);
      margin: 0;
      width: 100%;

      a {
        font-size: 16px;
        padding: 0;
      }
    }

    a {
      @include boxsizing();
      @include font($font-secundary, 13px, 400, $blue-900);
      padding: 10px 0 0;
      text-decoration: none;
    }
  }
}

#music {
  @include boxsizing;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;

  svg {
    @include boxsizing;

    text {
      @include boxsizing;
      @include font($font-primary, 14px, 400);

      #title {
        @include font($font-primary, 20px, 400);
      }

      #time {
        @include font($font-secundary, 13px, 300);
        letter-spacing: 1px;
      }
    }

    #current-time {
      tspan {
        @include font($font-secundary, 17px, 300);

        &:first-child {
          font-size: 18px;
        }
      }
    }
  }
}

#controls {
  @include boxsizing;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
}